[submodule "ext/sub/stb"]
	path = ext/sub/stb
	url = https://github.com/nothings/stb.git
[submodule "ext/sub/assimp"]
	path = ext/sub/assimp
	url = https://github.com/assimp/assimp
[submodule "ext/sub/glfw"]
	path = ext/sub/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ext/sub/backward-cpp"]
	path = ext/sub/backward-cpp
	url = https://github.com/bombela/backward-cpp
[submodule "ext/sub/tracy"]
	path = ext/sub/tracy
	url = https://github.com/wolfpld/tracy
