*.exe
*.ilk
*.pdb
projects.cmake
.vs/
.vscode/
build/
script/options.json
working/imgui.ini
working/log.txt
working/test/*/coverage
working/test/*/out_diff.txt
working/vKeybinds.vlk

# Entries used by clangd
.cache
compile_commands.json
