[submodule "ext/sub/stb"]
	path = ext/sub/stb
	url = https://github.com/nothings/stb.git
[submodule "ext/sub/StackWalker"]
	path = ext/sub/StackWalker
	url = https://github.com/JochenKalmbach/StackWalker.git
[submodule "ext/sub/assimp"]
	path = ext/sub/assimp
	url = https://github.com/assimp/assimp
[submodule "ext/sub/glfw"]
	path = ext/sub/glfw
	url = https://github.com/glfw/glfw.git
